// out: ../css/style.css, sourcemap: false, compress: true
@rouge:#FF0000;
@blanc:#fff;
@gris:#757575;
@vert:#009AAB;
@noir-clair:#484848;;
@vert-bas:#008D82;
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  background-color: #EDEFED;
}
header{
  background-image: url("../gallery/chambre.jpg");
  height: 100vh;
  background-size: cover;
  color: @blanc;

  .navbar {
    background-color: transparent;
    border: none;
    color: @blanc;
  }

  .navbar-nav  li a {
    color: @blanc !important;
  }
  .hote {
    border: 1px solid white;
    color: @blanc;
  }


}



.menu li ul {
  color: @blanc;
  text-decoration: none;
}

.space {
  padding: 10px;

}


.page1 {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 200px;
}

#exampleInputAmount {
  text-decoration: none;
}




.vivre {
  color: white;
  font-size: 60px;
  text-align: center;
  font-weight: 700;
  text-transform: uppercase;


}

.reserve {
  color: white;
  font-weight: bold;
  font-size: 17px;
  text-align: center;
  font-family: Arial;
  margin-top: 40px;
}



.savoir {
  color: @noir-clair;
  font-size: 15px;
  margin-top: 60px;

}

.ou {
  margin-top: 40px;
}

.image {

  height: 50vh;
  width: 100px;
}

.no-padding {
  padding: 0;
}
.row{
  margin-top: 30px;
}
.pays {
  height:300px !important;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

h1 {
  color: @blanc;
  font-size: 32px;
  text-align: center;
  margin-top: 130px;
  font-weight: bold;
}

.bouton {
  margin: auto;

}

.bouton-1 {
  margin-top: 100px;
}

.boo {
  background-color: @vert;
}

.hote {
  height: 60px;
  width: 60px;
  border-radius: 50px;
  border: 2px solid @blanc;
}

.week-end {
  color: #484848;
  font-weight: bold;
  text-align: center;
  font-size: 32px;
  margin: 0;
  padding: 0;
}

.pres {
  text-align: center;
  font-size: 16px;
}

.bouton2 {
  color: @noir-clair;
  display: flex;
  justify-content: center;
  border-color: #c4c4c4;
}

.phrase {
  height: 350px;
  background-color: @blanc;

}


.voyageur {
  font-weight: bold;
  font-size: 19px;
  line-height: 1.1;
  margin-top: 100px;
}

.velo {
  background-color: #008D82;

}

footer {
  background-color: #2B2D2E;
  color: @blanc;



}

h2 {
  font-size: 16px;
  font-weight: bold;
  margin-left: 95px;
}

.bas {
  text-decoration: none;
  display: flex;
  flex-direction: row;
  margin-left: 100px;

}

.button {
  display: flex;
  flex-direction: column;

}

.btn-group {
  margin-top: 30px;

}

.btn-group2 {
  margin-top: 30px;
}

.rejoindre {
  color: @blanc;
  text-align: center;
  border-top: 1px solid @blanc;
  margin-left: 30px;
}

.logo {
  text-align: center;
  margin-top: 20px;

}

.cercle {
  border: 1px solid @blanc;
  border-radius: 100%;
  padding: 10px;
}

.bnb {
  color: @gris;
  text-align: center;
  margin-top: 20px;
}

#carousel-one {
  .carousel-inner{
    .item{
      .slide{
        object-fit: cover;
        width: 100%;
        height: 350px;
      }
    }
  }
}

.photo-bas {
  height: 200px !important;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

h3 {
  color: @blanc;
}

.petit-texte {
  color: @blanc;
  font-size: 15px;
  margin-top: 50px;
}

.sous-texte {
  color: @blanc;
  margin-top: 90px;
}
